/*Generales*/
:root {
  --fuenteHeading: "Lato", sans-serif;
  --fuenteParrafos: "Open Sans", sans-serif;
  --primario: #784d3c;
  --claro: #e1e1e1;
  --blanco: #ffffff;
  --negro: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-family: var(--fuenteHeading);
  font-weight: 600;
  color: aliceblue;
}
h2 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: rgb(41, 130, 207);
}
.search1 {
  display: flex;
}
.App {
  display: flex;
  justify-content: center;
  color: aliceblue;
}
label {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #61dafb;
}
.input-search {
  font-family: "Lato", sans-serif;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
}
.search {
  display: flex;
  font-family: "Lato", sans-serif;
  margin: 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  border: hidden;
  border-radius: 0.2rem;
  font-weight: 500;
  color: rgb(122, 151, 151);
}
.search:hover {
  background-color: aqua;
  border-radius: 0.3rem;
  border: hidden;
}
.navBar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
body {
  background-image: url(./img/boxers.png);
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  body {
    background-image: url(./img/boxers.png);
    background-attachment: fixed;
    background-size: auto;
    height: 100vh;
    max-width: 100%;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
}

.App-link {
  color: #fb61cd;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
