/*Generales*/
:root {
  --fuenteHeading: "Lato", sans-serif;
  --fuenteParrafos: "Open Sans", sans-serif;
  --primario: #784d3c;
  --claro: #e1e1e1;
  --blanco: #ffffff;
  --negro: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 3rem;
  font-family: var(--fuenteHeading);
  font-weight: 600;
  color: #fb61cd;
}
h2,
h3 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: #fb61cd;
}
.search1 {
  display: flex;
}
.filtrar {
  padding-top: 2rem;
  text-align: center;
  gap: 1rem;
}
.cargar {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
select {
  margin-left: 2rem;
}
.cards {
  display: flex;
  justify-content: space-between;

  align-items: center;
  flex-direction: column;

  border: 1px solid #ffffff;
}
.paginado {
  background-color: #14eb98;
  display: flex;
  justify-content: space-between;

  border: 1px solid #ffffff;
  cursor: pointer;
}
/*       PAGINADO                 */
.breads_cards {
  justify-content: center;
  padding-bottom: 2rem;
  align-items: center;
  text-align: center;
}
.App {
  justify-content: center;
  color: #fb61cd;
}
label {
  margin-right: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fb61cd;
}
.input-search {
  font-family: "Lato", sans-serif;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 2rem;
  color: #fb61cd;
}
:placeholder-shown {
  color: #fb61cd;
}
.search {
  display: flex;
  font-family: "Lato", sans-serif;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  border: hidden;
  border-radius: 0.2rem;
  font-weight: 500;
  color: #fb61cd;
}
.razas {
  padding: 1rem;
  margin-left: 1rem;
}
.razas h3 {
  font-size: 1.5rem;
  color: #000000;
  padding-left: 2rem;
}
.search:hover {
  background-color: aqua;
  border-radius: 0.3rem;
  border: hidden;
}
.navBar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.image {
  height: 250px;
  width: 350px;
  border-radius: 1rem;
}

body {
  background-color: #e1e1e1;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  body {
    background-attachment: fixed;
    background-size: auto;
    height: 100vh;
    max-width: 100%;
  }
}
.botonesnex_prev {
  text-align: end;
  padding-right: 3rem;
}
.botonnext {
  margin-right: 1rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
}

.App-link {
  font-size: 2rem;
  color: #fb61cd;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
